# Packaging
*.pyc
__pycache__
*.egg-info
/dist/
/build/
/node_modules/

# venv
*.log
logs/*
.venv
/bin/
/lib/
/share
/pyvenv.cfg
.vscode

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store
.python-version
db/*
db.sqlite
/public/static/*
/public/media/*

# Конечно, эта строчка должна быть раскоментирована. Но так быстрее
# production.py